Options -Indexes

RewriteEngine on

RewriteRule ^$ ProgrammersHelpingPenguins/app/controller/siteController.php?page=home [QSA,L]
RewriteRule ^home/?$ ProgrammersHelpingPenguins/app/controller/siteController.php?page=home [QSA,L]
