/* Main Stylesheet */
body {
    background-color: darkgrey;
}

/*AJAX Forms */
#newUserForm, #newCrewForm, #newPersonForm, #add-campaign-menu, #edit-campaign-menu, #editCrewForm {
    display: none;
}


.bomber-squad-content{
    border-bottom: 3px solid black;
    height: 60%;
    margin-bottom: 5%;
}
.bomber-squad-image{
    margin: 3%;
    background-size: cover;
    height:70%;
    width: 70%;

}
.bomber-squad-table-title{
    font-size: 25px;
    margin: 1.5% 0 1.5% 0;
}
.bomber-squad-table-content{
    font-size: 15px;
    margin: 1% 0 1% 0;
}
.bomber-sqaud-info{
    font-size: 20px;
    margin-top: 3%;
}

.bomber-pic{
    //height: 90%;
    //width: 90%;
}
.bomber{
    height: 40%;
    margin: 2%;
}
.bomber-table-title{
    font-size: 25px;
    margin: 1.5% 0 1.5% 0;
}
.bomber-table-content{
    font-size: 16px;
    margin: 1% 0 1% 0;
}
.crew-thumbnail{
    width: 70%;
    height: 70%;
}


.home-info{
    width:100%;
     border-bottom: solid black 1px;

}
.image-info{
    border-bottom: solid black 1px;
    margin: 2% 15% 5% 15%;

}

.bomber-img {
    width: 65%;
    margin-right: 0;
}
.campaign-thumbnail{
	width: 50%;
    height: 50%;
}

.campaign-list {
    margin:auto;
    width: 50%;
    text-align: center;
    //display: inline-block;
}
.left-align{
    height:100%;
    padding: 15px;
    float:left;

}
.right-align{
    height:100%;
    display:block;
    padding: 15px;
    vertical-align: text-top;
    float: right;
}

.control-group {
    padding-top: 70px;
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    min-height: 910px;
}
#left {
    margin-left: 1.5%;
}
#right {
    margin-left: 1.5%;
}
.navbar {
    width: 100%;
}
