/* Main Stylesheet */
body {
    padding-top: 70px;
}

/*AJAX Forms */
#newUserForm, #newCrewForm, #newPersonForm, #add-campaign-menu, #edit-campaign-menu {
    display: none;
}
.bomber-squad-content{
    border-bottom: 3px solid black;
    height: 60%;
    margin-bottom: 5%;
}
.bomber-squad-image{
    margin: 3%;
    background-size: cover;
    height:70%;
    width: 70%;

}
.bomber-squad-table-title{
    font-size: 25px;
    margin: 1.5% 0 1.5% 0;
}
.bomber-squad-table-content{
    font-size: 15px;
    margin: 1% 0 1% 0;
}
.bomber-sqaud-info{
    font-size: 20px;
    margin-top: 3%;
}

.bomber-pic{
    height: 90%;
    width: 90%;
}
.bomber{
    height: 40%;
    margin: 2%;
}
.bomber-table-title{
    font-size: 25px;
    margin: 1.5% 0 1.5% 0;
}
.bomber-table-content{
    font-size: 16px;
    margin: 1% 0 1% 0;
}
.crew-thumbnail{
    width: 70%;
    height: 70%;
}

.home-info{
    width:100%;
     border-bottom: solid black 1px;
    
}
.image-info{
    border-bottom: solid black 1px;
    margin: 2% 15% 5% 15%;
    
}